.button {
    /* border: 1px solid gray; */
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: inline;
    background-color: #F56200;
    color: #fff;
    transition: all .1s ease-in-out;
}
.button:hover{
    background-color: #FF8533;
}
.button:active{
    transform: scale(0.95);
}