.list {
  list-style-type: disc;
  margin-left: 20px;
}

.list li {
  margin-bottom: 5px;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.documentLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
