.modalBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modalContent {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "LatoWeb", sans-serif;
  max-width: 500px;
  min-width: 500px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="datetime-local"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "LatoWeb", sans-serif;
}

textarea {
  height: 100px;
}

select {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  display: block;
  width: 100%;
  background: #0d4cd3;
  color: #fff;
  border: none;
  padding: 15px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 8px;
  font-family: "LatoWebBold", sans-serif;
  font-size: 16px;
}

button:hover {
  background: #1d5deb;
}

button:focus {
  background: #2a63ad;
  outline: none;
}

button:active {
  background: #0c3ca3;
}

.dopinformation {
  font-size: 14px; 
  color: #333; 
  line-height: 1.5;
  margin-top: 20px; 
  max-width: 100%; 
  overflow-wrap: break-word;
  text-align: justify; 
}

.dopinformation a {
  color: #0d4cd3; 
  text-decoration: underline;
}

.dopinformation a:hover {
  color: #1d5deb;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.checkboxText {
  margin-left: 10px;
  font-size: 14px;
  line-height: 1.4;
}

input[type="checkbox"] {
  accent-color: #0d4cd3;
  margin-right: 5px;
  align-self: center;
}


.disclaimer {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
  text-align: left;
}

.btn__close{
  margin-top: 15px !important;
}