.modalBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modalContent {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "LatoWeb", sans-serif;
  width: 90%; 
  max-width: 500px; 
  overflow-y: auto; 
  margin: 20px; 
  position: relative;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="datetime-local"],
textarea,
select {
  width: calc(100% - 20px); 
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "LatoWeb", sans-serif;
}

textarea {
  height: 150px;
}

select {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  width: auto;
  background: #0d4cd3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  font-family: "LatoWebBold", sans-serif;
  font-size: 16px;
  display: block; 
  margin: 10px auto 0;
}


@media (max-width: 768px) {
  .modalContent {
    margin: 10px; 
    max-width: 90%;
    padding: 10px;
    max-height: 600px;
  }

  .disclaimer,
  .checkboxText {
    font-size: 12px;
  }

  .checkboxContainer {
    flex-direction: column;
    align-items: flex-start;
  }
}
